Dicas de pandas: 
- https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

- https://www.kaggle.com/code/randylaosat/pandas-reference-guide-teach-me-how-to-pandas

# 1

Importe a biblioteca pandas e leia o arquivo population_by_count.csv como um dataframe

In [1]:
import pandas as pd


df = pd.read_csv('population_by_county.csv')
df = df.rename(columns={'2017PopEstimate': 'EstimatePop', '2010Census':'Census'})
df

                County           State  Census  EstimatePop
0     Abbeville County  South Carolina   25417        24722
1        Acadia Parish       Louisiana   61773        62590
2      Accomack County        Virginia   33164        32545
3           Ada County           Idaho  392365       456849
4         Adair County            Iowa    7682         7054
...                ...             ...     ...          ...
3137       Yuma County         Arizona  195751       207534
3138       Yuma County        Colorado   10043        10075
3139     Zapata County           Texas   14018        14322
3140     Zavala County           Texas   11677        11948
3141    Ziebach County    South Dakota    2801         2756

[3142 rows x 4 columns]

# 2

Mostre as 3 primeiras linhas do dataframe

In [2]:
df1 = df.head(3)
df1

             County           State  Census  EstimatePop
0  Abbeville County  South Carolina   25417        24722
1     Acadia Parish       Louisiana   61773        62590
2   Accomack County        Virginia   33164        32545

# 3

Quais são os nomes das colunas?

In [3]:
columm = list(df.columns)
columm

['County', 'State', 'Census', 'EstimatePop']

# 4

Há quantos estados neste conjunto de dados? E quais são os estados?

In [4]:
df_state = df['State']
df_state = df_state.tolist() #quais são
print(len(df_state)) #quantos são

3142

# 5

Quais são os cinco 'County' mais comuns?

In [5]:
df_county = df['County'].value_counts()
df_county.head(5)

County
Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       23
Name: count, dtype: int64

# 6

Quantos 'County' possuiam população maior que 1 milhão em 2010?

In [6]:
df[df['Census'] > 1000000]['County'].value_counts().sum()

39

# 7

Adicione uma coluna com o resultado da relação da diferença entre o censo de 2010 e a população estimada em 2017?

(2017-2010)/2010

In [7]:
df['differ_stim_cens'] = (df['EstimatePop'] - df['Census'])/df['Census']
dif = df['differ_stim_cens'].tolist()
df['differ_stim_cens'] = dif
df

                County           State  Census  EstimatePop  differ_stim_cens
0     Abbeville County  South Carolina   25417        24722         -0.027344
1        Acadia Parish       Louisiana   61773        62590          0.013226
2      Accomack County        Virginia   33164        32545         -0.018665
3           Ada County           Idaho  392365       456849          0.164347
4         Adair County            Iowa    7682         7054         -0.081750
...                ...             ...     ...          ...               ...
3137       Yuma County         Arizona  195751       207534          0.060194
3138       Yuma County        Colorado   10043        10075          0.003186
3139     Zapata County           Texas   14018        14322          0.021686
3140     Zavala County           Texas   11677        11948          0.023208
3141    Ziebach County    South Dakota    2801         2756         -0.016066

[3142 rows x 5 columns]

# 8

Realizar plots das informações que pareçam úteis.